@import "./utils/variables";
@import "./base/normalize";
@import "./base/defaults";
@import "./components/logo";
@import "./components/header-section";
@import "./components/_link-current";
@import "./components/header-navigation";
@import "./components/header-contacts-list";
@import "./components/backdrop";

@import "./components/hero-section";
@import "./components/hero-button";
@import "./components/footer";
@import "./components/projects-section";
@import "./components/section-team";
@import "./components/regular-customers";
@import "./components/field-check";
/*section-advantages*/

/*кнопка заказать услугу*/
.header .logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.modal__close-button {
  content: "";
  position: absolute;

  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  background-color: $background-color;
  width: 30px;
  height: 30px;
  background-image: url("../images/close-icon.svg");
  color: $title-text-color;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px, 11px;
  display: inline-block;
  transition: transform 250ms $timing-function;
}

/*modal-window-data*/
.modal__form {
  position: relative;
  display: block;
  justify-content: center;
  align-self: center;
}

.footer__sotial-networks--text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-text-accent;
  margin-bottom: 20px;
}
.footer__sotial-networks--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer__sotial-networks--list-link {
  contain: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0;
  border: none;
  background-position: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.footer__sotial-networks--list-item:not(:last-child) {
  margin-right: 10px;
}

.footer__sotial-networks--list-item :hover,
.footer__sotial-networks--list-item :focus {
  background-color: $accent;
}

.footer__sotial-networks--list-icon {
  display: block;
}

/*signup form*/

.footer__signup-form--text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $second-text-accent;
}

.footer__signup-field {
  position: relative;
  margin-right: 12px;
}

.footer__signup-field--label {
  color: $second-text-accent;
  position: absolute;
  top: 50%;
  left: 16px;
  transition: transform 250ms $timing-function;
  transform: translateY(-50%);
}

.footer__signup-field--input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: $second-text-accent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer__signup-field--input:focus {
  outline: none;
  border-color: $accent;
}

.footer__signup-field--input:focus + .footer__signup-field--label {
  top: 5px;
  left: 16px;
  transform: translateY(-100%);
}

.footer__sign-button--container {
  position: relative;
}

.footer__sign-button {
  display: inline-flex;

  min-width: 200px;
  margin-left: 12px;
  border: 1px solid $accent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: $second-text-accent;

  margin: 0;
  padding: 10px 28px;
  background-color: $accent;

  border-radius: 4px;
  cursor: pointer;
  transition: 250 $timing-function;
}

.footer__sign-button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-send.svg");
}

/*data form*/

.form-field label {
  margin-top: 10px;
  margin-bottom: 4px;
}

.email-input {
  width: 358px;
}

.footer__signup-form {
  display: flex;
}

.backdrop__textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.backdrop__textarea:focus {
  border-color: $accent;
}

.footer__sign-button {
  min-width: 200px;
  height: 50px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $accent;
  border-radius: 4px;
  color: $second-text-accent;
}
.footer__sign-button :hover,
.footer__sign-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop__form--icon {
  position: absolute;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.backdrop__form--icon-container {
  position: relative;
  margin-top: 4px;
}

.sign-up-icon {
  position: absolute;
  right: 28px;
  top: 30%;
  transform: translateY(-50%);
}

.backdrop__checkbox-link {
  color: $accent;
}

.backdrop__label-text {
  margin-bottom: 4px;
}

.backdrop__checkbox-icon {
  position: absolute;
  top: -15%;
  left: 14px;
  transform: translateY(50%);

  width: 15px;
  height: 15px;

  border: 2px solid $borderColorBlack;

  border-radius: 3px;
  cursor: pointer;
}

.backdrop__checkbox-input:checked + .backdrop__checkbox-icon {
  border-color: $accent;
  background-color: $accent;
  background-image: url("../images/icon\ check.svg");
  background-size: contain;
  background-origin: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.backdrop__checkbox-text {
  display: inline-block;
  margin-left: 39px;
}

.backdrop__send-form--button {
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  background-color: $accent;
  border-radius: 4px;
  color: $second-text-accent;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop__send-form--button:hover,
.backdrop__send-form--button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
