.hero__overlay {
  max-width: 1600;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}
